<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Plan Bearbeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>

  <ion-item *ngFor="let exercise of TrainingUnit.Exercise">
    <ion-input
      label="Übung"
      labelPlacement="stacked"
      [clearInput]="true"
      placeholder=""
      [(ngModel)]="exercise.name"
      required="true"

    >
    </ion-input>
    <ion-input
      label="Anzahl"
      labelPlacement="stacked"
      [clearInput]="true"
      placeholder=""
      [(ngModel)]="exercise.sets"
      type=number
      min="0"
    >
    </ion-input>
 </ion-item>
  
</ion-list>
<ion-fab id="more">
  <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>

