ion-title {
position: relative;
left: 55px;
}
ion-list {
  position: relative;
  top: 30px  
   
}
.anim {
  position: relative;
  right: 5px;
  width: 500px;
  padding: 8px;
  background-color: black;
}

