<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home">aaaa</ion-back-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trainingspläne</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="plane">
    <button><ion-item a (click)="openModal(i)" *ngFor="let item of plane; let i = index" class="anim">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item> </button>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAlert()" id="present-alert">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
        <ion-alert #alert
  header="Trainingsplan Hinzufügen"
  [buttons]="alertButtons"
  [inputs]="alertInputs" 
  (didDismiss)="onAddItem($event)"
></ion-alert>
  </ion-fab>
</ion-content>
